body{ margin: 0 !important; padding: 0; display: flex; flex-direction: column; gap: 1rem;}

.header {
    background-color: gray;
    box-shadow: 5px 10px 1rem 1px rgba(0, 0, 0, 0.437);
    color: white;
    text-align: center;
    font-family: "Roboto", sans-serif;
    

    
}

.title {
    font-weight: 200;
}

#libraryDisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.book {
    background-color: rgba(128, 128, 128, 0.599);
    box-shadow: 5px 10px 1rem 1px rgba(0, 0, 0, 0.437);
    color: white;
    text-align: center;
    max-width: 330px;
    margin: 1rem;
    padding: 1rem;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    border-radius: 10px;
}

button{
    border: 1px gray solid;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    max-width: 110px;
    padding: 0.5rem;
    align-self: center;
}

h2 {
    font-weight: 300;
}

h3 {
    font-weight: 200;
}

#dialog {
    background-color: gray;
    border: 1px black solid;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    width: 330px;
}

input {
    padding: 0.5rem;
    border: 1px black solid;
    border-radius: 10px;
    width: 90%;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

input[type="checkbox"] {
    width: fit-content;


}